<% @articles.each do |article| %>
<div class="card h-100">

        <a href="#"><img class="card-img-top" src="<%= article.images.first.img %>" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="<%= article_path(article) %>"><%= article.cityname %></a>
          </h4>
          <tr>
        <td><%= article.cityname %></td>
        <td><%= article.article %></td>
        <td><% article.user_id %></td>
        <td><%= link_to 'Edit', edit_article_path(article) %></td>
        <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
        </div>
      </div>
    </div>
<%end %>

<h1>Articles#index</h1>

<p id="notice"><%= notice %></p>



  

<%= link_to 'New article', new_article_path %>

