<br>
<br>
<br>

<% @articles.each do |article| %>
<div class= "article">
<div class="card h-100">
        <%if article.images.first%>
        <a ><img class="card-img-top" src="<%= article.images.first.img %>" alt=""></a>
        <% end %>
        <div class="card-body">
          <h4 class="card-title">
            <a href="<%= article_path(article) %>"><%= article.cityname %></a>
          </h4>
          <tr>
        <td><%= article.cityname %></td>
        <td><%= article.article %></td>
        <td><% article.user_id %></td>
        <td><%= link_to 'Edit', edit_article_path(article) ,class:"btn btn-outline-secondary" %></td>
        <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-outline-secondary" %></td>
      </tr>
        </div>
      </div>
    </div>
<%end %>

<p id="notice"><%= notice %></p>
 
<%= link_to 'New article', new_article_path, class:"btn btn-outline-secondary"  %>
